* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geist', sans-serif !important;
    a {
        text-decoration: none;
    }
    html {
        scroll-behavior: smooth;
    }
}

@media( max-width: 780px ) {
    
}